body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, #fbd3e9 0%, #bbdefb 100%);
}

h1 {
  margin-bottom: 25px;
}

.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background: #e890e3;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #9f468a;
}

#shapeList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 700px;
}

.shape {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

.shape:hover::after {
  opacity: 1;
}

.shape:hover {
  transform: scale(1.1);
}

.circle {
  border-radius: 50%;
}

.counters {
  margin-bottom: 20px;
  font-size: 18px;
}
